.btn {
    border: 1px solid rgb(255, 41, 41);
    background-color: white;
    padding: 10px 22px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(255, 41, 41);
    margin-top: 10px;
    font-size: 17px;
    align-self: center;
    &:hover {
        background-color: rgb(255, 41, 41);
        color: white;
    }
}
