.mdc-data-table__header-cell {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.mdc-data-table {
    width: 100%;
    border-color: rgb(61, 104, 245);
}

.mdc-data-table__cell {
    text-align: center;
}

.mdc-data-table__cell {
    font-weight: bold;
}

.mdc-data-table__header-cell {
    background-color: rgb(61, 104, 245);
    color: rgb(255, 255, 255);
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    border-bottom-color: rgba(43, 92, 255, 0.8);
}

.mdc-data-table__pagination-total, .mdc-data-table__pagination-rows-per-page-label, .mdc-data-table__cell {
    color: rgb(6, 50, 196);
}