*, html,body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
// body{
//     background: url("../../img/Grosser_Panda.jpeg") #000000e3;
//     height: 1000px;
// }
