.user {
  background-color: burlywood;
  padding: 15px;
  width: 488px;
  border-radius: 6px;
  background-color: rgb(61, 104, 245);
  color: white;
  font-size: 18px;
  margin: 5px;

  &-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
  }

  &-name {
    margin-bottom: 5px;
  }

  &-result {
    width: 100%;
    background-color: rgba(61, 104, 245, 0.6);
  }
}