.card {
    display: flex;
    width: 420px;
    height: 180px;
    margin-top: 10px;
    background-color: white;
}
.slider {
    width: 210px;
    height: 180px;
}
.miniInfo {
    font-size: 10px;
    display: flex;
    div {
        margin: 3px;
    }
}
.img {
    width: 210px;
    height: 180px;
    object-fit: cover;
}