*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.recWhite  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 100%;
    background-color: white;
    color: #656565;

}

.lowerHeader{
    display: flex;  
    padding-left: 70px;
}

.a {
  text-decoration: none;
  font-family: "Open Sans";
}
.navlinks {
    margin: 6px 24px 7px 0;
    font-size: 16px;
    color: #141b2d;
    text-decoration: none;
    font-family: 'Open Sans';
}
.favoritas {
    position: relative;
    margin-right: 0px;
}
.a:hover {
    color: #939394;
}
.logo {
    height: 46px;
}

.eticket {
  top: -7px;
  left: 95px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1c3988;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

li{
    list-style-type: none
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 984.9px;
    height: 48px;
  }
  
.button_header {
        display: flex;
        width: 134px;
        height: 48px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #1c3988;
        color: white;
        font-family: "Open Sans";
        font-size: 15px;
        border: none;

}
.button_header:hover {
    background-color: #101f48;
}
.logo_links {
    display: flex;
    align-items: center;
}

