header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 10px;
    .logo {
        color: white;
    }

    ul {
        display: flex;
        a{
            display: block;
            padding: 5px;
            color: white;
        }
        a:hover {
            color: rgb(36, 36, 36);
        }
    }   
}