.slider-controls {
    position:absolute;
    padding: 5px;
    width: 198px;
    display: flex;
    justify-content: space-between;
    top:36%;
    z-index: 1;
 }
 .slider-btn {
     display: flex;
     justify-content: center;
     align-items: center;
     background: none;
     width: 20px;
     height: 20px;
     border: none;
     font-size: 15px;
     color: red;
     border: 1px solid red;
     border-radius: 50%;
     padding: 5px;
 }
 .slider-btn:hover{
     color: white;
     border: 1px solid white;
 }
 .slider-wrap {
     position: relative;
     display: block;
     width: 200px;
     overflow: hidden;
     border: 1px solid black;
 }
 .slider-wrap ul{
     width: 1000px;
     display: flex;
     transition: 1s;
     transform: translateX(0px);
 }
 .slider-wrap li img{
    width: 200px;    
 }
 .foto {
    width: 200px;   
    height: 190px;
 }
 .imgclass {
    width: 200px;   
    height: 180px;
    object-fit: cover;
 }
 